@media only screen and (max-width: 1024px) {
  .logout-button {
    margin: 64px;
    left: 12px;
    top: 12px;
    font-size: 32px;
    color: var(--primary);
  }

  .logout-button:hover {
    transition: transform 0.3s;
    transform: scale(1.3);
    color: var(--faillure);
  }
}
